3d worldbuilder

MUST
Door de wereld heen lopen / vliegen 			DONE
Verplaatsen en plaatsen van items in de wereld		TODO
Laden van polygons					DONE
Lichten verplaatsen					TODO
Bewegende zon						TODO
Globale tijd (instelbaar)				TODO

SHOULD
Heightmap landscape reading
Advanced rendering
Fog
Alpha blending
Werelden naar bestanden schrijven

COULD
Meshes editen
Dynamisch objecten laden
Edit mode en view mode
